<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<title>Cuisine</title>
	<link rel="stylesheet" href="stylesheet.css" type="text/css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>

	<form>
            <input class="ui-widget" type="text" id="name" placeholder="e.g. Kiwi">
            <input type="number" id="calories" placeholder="Calories">
            <input type="number" id="proteins" placeholder="proteins">
            <input type="number" id="carbohydrates" placeholder="Carbohydrates">
            <input type="number" id="fats" placeholder="Fats">
    	    <input type="button" class="add-row" value="Add Row">
	    <input type="button" class="load-example" value="Load Example">
	</form>

	<table class="ingredientsTable table">
	    <thead>
		<tr>
		    <th></th>
		    <th>Ingredients</th>
		    <th>Calories (for 100 grams)</th>
		    <th>Quantity (in grams)</th>
		    <th>Min quantity (in grams)</th>
		    <th>Max quantity (in grams)</th>
		</tr>
	    </thead>
	    <tbody class="ingredientsTableBody">
	    </tbody>
	</table>
	<button type="button" class="delete-row">Delete Row</button>
	<p>Total calories: <span class="totalCalories"></span> kcal</p>
	<p>Total proteins: <span class="totalProteins"></span> g</p>
	<p>Total carbohydrates: <span class="totalCarbohydrates"></span> g</p>
	<p>Total fats: <span class="totalFats"></span> g</p>

	<label for="targetCalories">Target calories:</label>
	<input type="number" id="targetCalories" name="targetCalories"
	       min="50" max="1000">

        <label for="targetProteins">Target proteins:</label>
	<input type="number" id="targetProteins" name="targetProteins"
	       min="0" max="1000">

        <label for="targetCarbohydrates">Target carbohydrates:</label>
	<input type="number" id="targetCarbohydrates" name="targetCarbohydrates"
	       min="0" max="1000">
	
        <label for="targetFats">Target fats:</label>
	<input type="number" id="targetFats" name="targetFats"
	       min="0" max="1000">
	
	<button class="btn btn-success" onclick="run()">Run</button>
	
	
    </body>

    <script>

     var data = [
	 {
	     "name": "oats",
	     "calories": 350,
	     "proteins": 14,
	     "carbohydrates": 56,
	     "fats": 6.9,
	     "quantity": 100
	 },{
	     "name": "peanut butter",
	     "calories": 589,
	     "proteins": 25,
	     "carbohydrates": 20,
	     "fats": 50,
	     "quantity": 100
	 },{
	     "name": "flaxseeds",
	     "calories": 534,
	     "proteins": 18,
	     "carbohydrates": 29,
	     "fats": 42,
	     "quantity": 100
	 },{
	     "name": "pumpkin seeds",
	     "calories": 446,
	     "proteins": 19,
	     "carbohydrates": 54,
	     "fats": 14,
	     "quantity": 100
	 },{
	     "name": "rice milk",
	     "calories": 47,
	     "proteins": 0.3,
	     "carbohydrates": 9,
	     "fats": 1,
	     "quantity": 100
	 }
     ]
     var dataStore = [
	 {
	     "name": "oats",
	     "calories": 350,
	     "proteins": 14,
	     "carbohydrates": 56,
	     "fats": 6.9,
	     "quantity": 100
	 },{
	     "name": "peanut butter",
	     "calories": 589,
	     "proteins": 25,
	     "carbohydrates": 20,
	     "fats": 50,
	     "quantity": 100
	 },{
	     "name": "flaxseeds",
	     "calories": 534,
	     "proteins": 18,
	     "carbohydrates": 29,
	     "fats": 42,
	     "quantity": 100
	 },{
	     "name": "pumpkin seeds",
	     "calories": 446,
	     "proteins": 19,
	     "carbohydrates": 54,
	     "fats": 14,
	     "quantity": 100
	 },{
	     "name": "rice milk",
	     "calories": 47,
	     "proteins": 0.3,
	     "carbohydrates": 9,
	     "fats": 1,
	     "quantity": 100
	 }
     ]

     function fillTable() {
	 var _str = ""
	 for (i = 0; i < data.length; ++i) {
	     _str += "<tr><td><input type='checkbox' name='record'></td><td>" 
	     _str += data[i].name
	     _str += "</td><td>"
	     _str += data[i].calories
	     _str += "</td><td>"
	     _str += data[i].quantity
	     _str += "</td><td>"
	     _str += '<input type="number" class="cons-qty-min" min="0" max="1000">'
	     _str += "</td><td>"
	     _str += '<input type="number" class="cons-qty-max" min="0" max="1000">'
	     _str += "</td></tr>"
	 }
	 document.getElementsByClassName("ingredientsTableBody")[0].innerHTML = _str;
     }

     function updateTotal() {
	 var _sumCalories = 0;
	 var _sumProteins = 0;
	 var _sumCarbohdrates = 0;
	 var _sumFats = 0;

	 for (i = 0; i < data.length; ++i) {
	     _sumCalories += (data[i].calories * data[i].quantity) / 100
	     _sumProteins += (data[i].proteins * data[i].quantity) / 100
	     _sumCarbohdrates += (data[i].carbohydrates * data[i].quantity) / 100
	     _sumFats += (data[i].fats * data[i].quantity) / 100
	 }
	 
	 document.getElementsByClassName("totalCalories")[0].innerHTML = _sumCalories;
	 document.getElementsByClassName("totalProteins")[0].innerHTML = _sumProteins;
	 document.getElementsByClassName("totalCarbohydrates")[0].innerHTML = _sumCarbohdrates;
	 document.getElementsByClassName("totalFats")[0].innerHTML = _sumFats;
     }

     function processInputConstraints(x) {
	 var v = parseInt(x.value);
	 if (isNaN(v)) {
	     return -1;
	 } else {
	     return v;
	 }
     }

     function createEvent() {

	 var event = {
	     "target": {
		 "proteins": parseInt(document.getElementById("targetProteins").value),
		 "carbohydrates": 0,
		 "fats": 0,
		 "calories": parseInt(document.getElementById("targetCalories").value)
	     },
	     "ingredients": []
	 };

	 // fetch constraints on ingredient quantities
	 // cons-qty-min
	 var consQtyMin = Array.from($(".cons-qty-min")).map(processInputConstraints);
	 // cons-qty-max
	 var consQtyMax = Array.from($(".cons-qty-max")).map(processInputConstraints);
	 for (i = 0; i < data.length; ++i) {
	     event.ingredients.push(
		 {
		     "name": data[i].name,
		     "quantity": data[i].quantity,
		     "unit": "g",
		     "calories": data[i].calories,
		     "proteins": data[i].proteins,
		     "carbohydrates": data[i].carbohydrates,
		     "fats": data[i].fats,
		     "price": 1.0
		 }
	     )
	     if (consQtyMin[i] != -1) {
		 event.ingredients[event.ingredients.length-1]["quantity_min"] = consQtyMin[i] / 100.0;
	     }
	     if (consQtyMax[i] != -1) {
		 event.ingredients[event.ingredients.length-1]["quantity_max"] = consQtyMax[i] / 100.0;
	     }

	 }
	 return event;
     }

     function run() {
	 console.log("Button clicked");
	 var event = createEvent();

	 console.log(event)
	 
	 var xhr = new XMLHttpRequest();
	 xhr.open('POST', 'https://wg3am3bc07.execute-api.eu-west-1.amazonaws.com/dev/opt');
	 xhr.setRequestHeader('Content-Type', 'application/json');
	 xhr.onload = function() {
	     if (xhr.status === 200) {
		 var response = JSON.parse(xhr.responseText);
		 for(var i = 0; i < response.quantities.length; ++i) {
		     data[i].quantity = response.quantities[i] * 100;
		     updateTotal();
		     fillTable();
		 }

	     }
	 };
	 xhr.send(JSON.stringify(event));
     }


     $(document).ready(function(){
         $(".add-row").click(function(){
             var name = $("#name").val();
             var calories = $("#calories").val();
             var proteins = $("#proteins").val();
             var carbohydrates = $("#carbohydrates").val();
             var fats = $("#fats").val();
	     //             var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + name + "</td><td>" + calories + "</td><td>" + proteins + "</td><td>" + carbohydrates + "</td><td>" + fats + "</td></tr>";
	     var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + name + "</td><td>" + calories + "</td><td>" + "100" + "</td><td> <input type='number' class='cons-qty-min' min='0' max='1000'>" + "</td><td> <input type='number' class='cons-qty-max' min='0' max='1000'>" + "</td></tr>";
	     data.push({
		 "name": name,
		 "calories": parseInt(calories),
		 "proteins": parseInt(proteins),
		 "carbohydrates": parseInt(carbohydrates),
		 "fats": parseInt(fats),
		 "quantity": 100
	     });
             $("table tbody").append(markup);
         });
         
         // Find and remove selected table rows
         $(".delete-row").click(function(){
             $("table tbody").find('input[name="record"]').each(function(){
		 if($(this).is(":checked")){
		     // .childNodes[1].innerText)
		     var ingredientNameToDelete = $(this).parents("tr")[0].cells[1].innerText;
		     var idxToDelete = data.findIndex(function(elem){return elem.name == ingredientNameToDelete});
		     data.splice(idxToDelete,1);
		     $(this).parents("tr").remove();
		 }
             });
         });
     });    

     $( function() {
	 var availableTags = dataStore.map(x => x.name);
	 $( "#name" ).autocomplete({
	     source: availableTags
	 });
	 $( "#name" ).on( "autocompleteselect", function( event, ui ) {
	     ingredientIndex = dataStore.findIndex(function(elem){return elem.name == ui.item.label});
	     console.log(ingredientIndex);
	     if (ingredientIndex != -1) {
		 ingredient = dataStore[ingredientIndex]
		 console.log(ingredient);
		 $("#calories")[0].value = ingredient.calories
		 $("#proteins")[0].value = ingredient.proteins
		 $("#carbohydrates").value = ingredient.carbohydrates
		 $("#fats").value = ingredient.fats
	     }
	 } );
     } );
     
     fillTable();
     updateTotal();
    </script>
    
</html>